* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  background-color: rgb(10, 10, 165);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 100%;
  max-width: 400px;
  background: white;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05);
}

input {
  border: none;
  outline: none;
  background: none;
  width: 90%;
  padding: 10px 20px;
  font-size: 16px;
}

.eye-container {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#togglePassword {
  font-size: 20px;
  color: #777;
  transition: 0.15s ease;
}

#togglePassword:hover {
  color: rgb(10, 10, 165);
  cursor: pointer;
}

#togglePassword:active {
  transform: scale(0.85);
}
